.right_bar {
  flex: 1;
  height: calc(100vh - 96px);
  position: sticky;
  top: 96px;
  overflow-y: scroll;
  margin-top: 30px;
  /* overflow:hidden; */
}

.right_bar::-webkit-scrollbar {
  width: 8px;
}

.right_bar::-webkit-scrollbar-track {
  background-color: var(--input-color);
}

.right_bar::-webkit-scrollbar-thumb {
  background: var(--input-hover-color);
  border-radius: 8px;
}

.right_bar_contact {
  background: var(--white-color);
  border-radius: 12px;
}
.right_bar_contact h4 {
  height: 40px;
  margin: 0;
  line-height: 40px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 400;
}

/* responsive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .right_bar {
    display: none;
  }
  }
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .right_bar {
    display: none;
  }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  .right_bar {
    display: none;
  }
}
