.search {
  background: var(--white-color);
  border-radius: 8px;
  margin-bottom: 30px;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.search_icon {
  color: grey;
  margin: 0 10px;
}
.search input {
  flex: 1;
  height: inherit;
  border: none;
  font-size: 16px;
}
.search input:focus {
  outline: none;
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
  .search {
    margin-top: 30px;
  }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  .search {
    margin-top: 30px;
  }
}
